apiVersion: apps/v1
kind: Deployment
metadata:
  name: backendapis-deployment
  labels:
    app: backendapis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backendapis
  template:
    metadata:
      labels:
        app: backendapis
    spec:
      containers:
        - name: backendapis
          image: oacarrillop/backendapis
          imagePullPolicy: Always
          ports:
            - containerPort: 5020
              name: http
          env:
            - name: NODE_ENV
              value: "desarrollo"
            - name: PORT
              value: "5020"
            - name: MYSQL_HOST
              value: "mysql-service"
            - name: MYSQL_PORT
              value: "3306"
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_DATABASE
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD
            - name: API_KEY_VALIDACION_LOCAL
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: API_KEY_VALIDACION_LOCAL
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: REDIS_HOST
            - name: REDIS_PORT
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: REDIS_PORT
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: REDIS_PASSWORD
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
