apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service-deployment
  labels:
    app: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: oacarrillop/auth-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4010
              name: https
          env:
            - name: NODE_ENV
              value: "desarrollo"
            - name: AUTH_PORT
              value: "4010"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: SESSION_SECRET
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: GOOGLE_CLIENT_ID
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: GOOGLE_CLIENT_SECRET
            - name: API_KEY_VALIDACION_LOCAL
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: API_KEY_VALIDACION_LOCAL
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: REDIS_HOST
            - name: REDIS_PORT
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: REDIS_PORT
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: REDIS_PASSWORD
          volumeMounts:
            - name: tls-certs
              mountPath: /app/certificados
              readOnly: true
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
      volumes:
        - name: tls-certs
          secret:
            secretName: peoplek8s-tls
            items:
              - key: tls.crt
                path: fullchain.pem
              - key: tls.key
                path: privkey.pem
#          livenessProbe:
#            httpGet:
#              path: /health
#              port: 4010
#              scheme: HTTPS
#            initialDelaySeconds: 30
#            periodSeconds: 10
#            timeoutSeconds: 5
#          readinessProbe:
#            httpGet:
#              path: /health
#              port: 4010
#              scheme: HTTPS
#            initialDelaySeconds: 10
#            periodSeconds: 5
#            timeoutSeconds: 3
